

 
    <div class="row" style="display: flex;">
      <div class="col-md-12">
        <img src="assets/nea.png" alt="image" style="width:350px;height: 150px;">
      </div>
      <div class="col-md-12" style="margin-left:2rem !important; margin-right: 1rem !important; padding:0 1.25rem">
        <h3>Live traffic images from cameras at Mandai Crematorium and Columbarium Complex.</h3><br>
        <h3>These images will refresh automatically every 5 minutes.</h3>
        <!-- &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<b>Last Update : </b>{{Players.cck_cam4.last_update}} -->
      </div>
    </div>

    
    <div class="row mx-3 my-4" style="display: flex;">
      <div class="card mx-3 my-3" style="width:400px">
        <div class="card-body">
          <strong>
            <p class="card-text">View of Mandai Road (towards Mandai Avenue)
              <!-- <b>Last Update : </b>{{Players.mcc_cam1.last_update}} -->
            </p>
          </strong>
        </div><br>
        <img class="card-img-bottom" src="assets/snapshot/mcc_cam1.jpeg" alt="image" style="width:100%">
        <div style="font-size: x-small; font-weight: 600;">
          <p class="txt txt-box1">
            Mandai Crematorium<br>
            & Columbarium
          </p>
        </div>
        <img src="assets/arrow-red.png" class="arrow1-box1">
        <div style="font-size: x-small; font-weight: 600;">
          <p class="txt txt2-box1">
            Upper Thomson<br>
            Road
    
          </p>
        </div>
        <img src="assets/arrow-red.png" class="arrow2-box1">
        <div style="font-size: x-small; font-weight: 600;">
          <p class="txt txt3-box1">
            Mandai Ave
          </p>
        </div>
        <img src="assets/arrow-red.png" class="arrow3-box1">
      </div>
    
      <div class="card mx-3 my-3" style="width:400px">
        <div class="card-body">
          <strong>
            <p class="card-text">View of Mandai Lake Flyover (towards Mandai Crematorium & Columbarium Complex)<br>
              <!-- <b>Last Update : </b>{{Players.mcc_cam2.last_update}} -->
            </p>
          </strong>
        </div><br>
        <img class="card-img-bottom" src="assets/snapshot/mcc_cam2.jpeg" alt="image" style="width:100%">
        <div style="font-size: x-small; font-weight: 600;">
          <p class="txt txt1-box2">
            Upper Thomson<br>
            Road
          </p>
        </div>
        <img src="assets/arrow-red.png" class="arrow1-box2">
        <div style="font-size: x-small; font-weight: 600;">
          <p class="txt txt2-box2">
            Mandai Crematorium<br>
            & Columbarium
          </p>
        </div>
        <img src="assets/arrow-red.png" class="arrow2-box2">
        <div style="font-size: x-small; font-weight: 600;">
          <p class="txt txt3-box2">
            Mandai Ave
          </p>
        </div>
        <img src="assets/arrow-red.png" class="arrow3-box2">
      </div>
    
      <div class="card mx-3 my-3" style="width:400px">
        <div class="card-body">
          <strong>
            <p class="card-text">View of Mandai Road (towards Upper Thomson Road)<br>
              <!-- <b>Last Update : </b>{{Players.mcc_cam3.last_update}} -->
            </p>
          </strong>
        </div><br>
        <img class="card-img-bottom" src="assets/snapshot/mcc_cam3.jpeg" alt="image" style="width:100%">
    
        <div style="font-size: x-small; font-weight: 600;">
          <p class="txt txt1-box3">
            Upper<br> Thomson<br>
            Road
          </p>
        </div>
        <img src="assets/arrow-red.png" class="arrow1-box3">
        <div style="font-size: x-small; font-weight: 600;">
          <p class="txt txt2-box3"> 
            Mandai Crematorium<br>
            & Columbarium
    
          </p>
        </div>
        <img src="assets/arrow-red.png" class="arrow2-box3">
        <div style="font-size: x-small; font-weight: 600;">
          <p class="txt txt3-box3">
            Mandai Ave
          </p>
        </div><img src="assets/arrow-red.png" class="arrow3-box3">
      </div>
    
      <div class="card mx-3 my-3" style="width:400px">
        <div class="card-body">
          <strong>
            <p class="card-text">View of Access Road outside Mandai Crematorium & Columbarium Complex<br>
              <!-- <b>Last Update : </b>{{Players.mcc_cam4.last_update}} -->
            </p>
          </strong>
        </div><br>
        <img class="card-img-bottom" src="assets/snapshot/mcc_cam4.jpeg" alt="image" style="width:100%">
        <div style="font-size: x-small; font-weight: 600;">
          <p class="txt txt1-box4">
            Mandai Crematorium<br>
            & Columbarium
    
          </p>
        </div><img src="assets/arrow-red.png" class="arrow1-box4">
      </div>
    
      <div class="card mx-3 my-3" style="width:400px">
        <div class="card-body">
          <strong>
            <p class="card-text">View of Access Road inside Mandai Crematorium & Columbarium Complex (towards Main
              Entrance)<br>
              <!-- <b>Last Update : </b>{{Players.mcc_cam5.last_update}} -->
            </p>
          </strong>
        </div><br>
        <img class="card-img-bottom" src="assets/snapshot/mcc_cam5.jpeg" alt="image" style="width:100%">
        <div style="font-size: x-small; font-weight: 600;">
          <p class="txt txt1-box5">
            Main Entrance
    
          </p>
        </div><img src="assets/arrow-red.png" class="arrow1-box5">
      </div>
    
      <div class="card mx-3 my-3" style="width:400px">
        <div class="card-body">
          <strong>
            <p class="card-text">View of Access Road inside Mandai Crematorium & Columbarium Complex (towards Columbarium
              Block B)<br>
              <!-- <b>Last Update : </b>{{Players.mcc_cam6.last_update}} -->
            </p>
          </strong>
        </div><br>
        <img class="card-img-bottom" src="assets/snapshot/mcc_cam6.jpeg" alt="image" style="width:100%">
        <div style="font-size: x-small; font-weight: 600;">
          <p class="txt txt1-box6">
            Columbarium Block B
          </p>
        </div><img src="assets/arrow-red.png" class="arrow1-box6">
      </div>
     
    </div>
    <div>
      <div>

        <!--<iframe src="https://maps.google.com/maps?q={{HomestayDetails.HsMapLat}},{{HomestayDetails.HsMapLong}}&z=16&output=embed" width="100%" height="450" allowfullscreen="" loading="lazy" style="border:1px solid #ccc"></iframe>-->
        <iframe [src]="FullMapUrl" width="100%" height="450" allowfullscreen="" loading="lazy" style="border:2px solid #ccc"></iframe>
  
      </div>
    </div>

   