
.card-body{
    border-style: solid;
    border-color: black;
}
/*  */
.txt{
    position: absolute; 
    color: black;
    border-style: solid;
    border-color: green;
    background: white;
}
/*  */
.txt-box1{
    top: 46%; 
    left: 56%;
}
.txt2-box1{
    top: 82%;
    left: 11%;
}
.txt3-box1{
    top: 67%;
    left: 3%;
}
.arrow1-box1{
    position: absolute;
    transform: rotate(330deg);
    right: 2%;
    top: 60%;
}
.arrow2-box1{
    position: absolute;
    transform: rotate(400deg);
    left: 33%;
    bottom: 6%;
}
.arrow3-box1{
    position: absolute;
    transform: rotate(250deg);
    left: 22%;
    top: 68%;
}
/*  */
.txt1-box2{
    top: 51%;
    right: 14%;
}
.txt2-box2{
    top: 43%;
    left: 1%;
}
.txt3-box2{
    top: 86%;
    right: 6%;
}
.arrow1-box2{
    position: absolute;
    transform: rotate(330deg);
    right: 2%;
    top: 48%;
}
.arrow2-box2{
    position: absolute;
    transform: rotate(300deg);
    left: 8%;
    top: 57%;
}
.arrow3-box2{
    position: absolute;
    transform: rotate(150deg);
    right: 22%;
    bottom: 1%;
}
/*  */
.txt1-box3{

    top: 44%;
    left: 39%;
}
.txt2-box3{
    top: 46%;
    left: 1%;
}
.txt3-box3{
    top: 80%;
    right: 1%;
}
.arrow1-box3{
    position: absolute;
    transform: rotate( 360deg);
    right: 34%;
    top: 45%;
}
.arrow2-box3{
    position: absolute;
    transform: rotate(200deg);
    left: 11%;
    top: 55%;
}
.arrow3-box3{
    position: absolute;
    transform: rotate(150deg);
    right: 11%;
    bottom: 5%;
}

/*  */
.txt1-box4{
    top: 46%;
    left: 1%;
}
.arrow1-box4{
    position: absolute;
    transform: rotate(345deg);
    left: 10%;
    top: 60%;
}
/*  */
.txt1-box5{
    top: 50%;
    left: 1%;
}
.arrow1-box5{
    position: absolute;
    transform: rotate(360deg);
    left: 23%;
    top: 49%;
}

/*  */
.txt1-box6{
    top: 50%;
    left: 1%;
}
.arrow1-box6{
    position: absolute;
    transform: rotate(345deg);
    left: 10%;
    top: 60%;
}




agm-map
{
    height: 100px;
    width: 100px;
}
