
<!-- <div class="back">
    <nav class="navbar navbar-light"  style="background: #811a1b;">
        <a class="navbar-brand" href="#">
          <h1 style="color: aliceblue;"><img src="assets/Echollogo.png" height="50px"></h1>
        </a>
      </nav>
    

    </div> -->

    <div class="row" style="display: flex;">
        <div class="col-md-12">
            <img src="assets/nea.png" alt="image" style="width:350px;height: 150px;">
        </div>
        <div class="col-md-12">
            <h3>&nbsp;&nbsp; &nbsp; Live traffic images from cameras at Mandai Crematorium and Columbarium Complex.</h3><br>
             <h3>&nbsp; &nbsp; &nbsp;These images will refresh automatically every 5 minute.</h3>
        </div>
    </div>
    
    <!-- <agm-map [latitude]="lat" [longitude]="lng" style="height: 300px;">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map> -->

 <!-- <div class="row">
        <div *ngFor="let item of camList">
        
            <div class="row mx-3 my-4" style="display: flex;">
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="{{item.snaplink}}" alt="image" style="width:100%">
                    <div class="card-body">
                     
                      <p class="card-text">{{item.location}} {{item.time}}</p>
                      
                    </div>
                </div>
            </div>
        </div>
            
      </div> -->

    <div class="row mx-3 my-4" style="display: flex;">
        <div class="card mx-3 my-3" style="width:400px">
            <div class="card-body">
              <p class="card-text">View of Mandai Road (towards Mandai Avenue)</p>
            </div>
            <img class="card-img-bottom" src="assets/snapshot/mcc_cam1.jpeg" alt="image" style="width:100%">
        </div>

        <div class="card mx-3 my-3" style="width:400px">
            <div class="card-body">
                <p class="card-text">View of Mandai Lake Flyover (towards Mandai Crematorium & Columbarium Complex)</p>
              </div>
              <img class="card-img-bottom" src="assets/snapshot/mcc_cam2.jpeg" alt="image" style="width:100%">
        </div>

        <div class="card mx-3 my-3" style="width:400px">
            <div class="card-body">
                <p class="card-text">View of Mandai Road (towards Upper Thomson Road)</p>
              </div>
              <img class="card-img-bottom" src="assets/snapshot/mcc_cam3.jpeg" alt="image" style="width:100%">
        </div>

        <div class="card mx-3 my-3" style="width:400px">
            <div class="card-body">
                <p class="card-text">View of Access Road outside Mandai Crematorium & Columbarium Complex</p>
              </div>
              <img class="card-img-bottom" src="assets/snapshot/mcc_cam4.jpeg" alt="image" style="width:100%">
        </div>

        <div class="card mx-3 my-3" style="width:400px">
            <div class="card-body">
                <p class="card-text">View of Access Road inside Mandai Crematorium & Columbarium Complex (towards Main Entrance)</p>
              </div>
              <img class="card-img-bottom" src="assets/snapshot/mcc_cam5.jpeg" alt="image" style="width:100%">
        </div>

        <div class="card mx-3 my-3" style="width:400px">
            <div class="card-body">
                <p class="card-text">View of Access Road inside Mandai Crematorium & Columbarium Complex (towards Columbarium Block B)</p>
              </div>
              <img class="card-img-bottom" src="assets/snapshot/mcc_cam6.jpeg" alt="image" style="width:100%">
        </div>
    </div>
