<!-- 
<div id="mySidebar" class="sidebar" style="background-color: #8C210A;">
    <img src="assets/Echollogo.png" height="70px" width="200px" style="margin-top:-80px;margin-left: 20px;">
    <div class="card8" style="background-color:silver;margin-top: 10px;">
      <div class="container">
        <h4><b></b></h4>
        <h3 style="color: rgb(15, 15, 15);text-align: center;">MENU</h3>
      </div>
    </div>
    
   
 
    <ul class="navbar-nav mr-auto w-100" >
      <div  class="zoom">
        <li class="nav-item">
            <a class="nav-link" routerLink="/container/cameraconfig" style="color: aliceblue;font-size: 20px;">Camera Allotment</a>
        </li>
      </div><br>
      <div  class="zoom">
      <li class="nav-item">
          <a class="nav-link" routerLink="/container/dashboard" style="color: aliceblue;font-size: 20px;">Dashboard</a>
      </li>
    </div><br>
    <div  class="zoom">
      <li class="nav-item">
          <a class="nav-link" routerLink (click)="logout()" style="color: aliceblue;font-size: 20px;">Logout</a>
      </li>
    </div><br>
    <div class="zoom" *ngIf="showUser"> 
      <li class="nav-item">
          <a class="nav-link" routerLink="/container/adduser" style="color: aliceblue;font-size: 20px;">User Management</a>
      </li>
    </div><br>
    <div class="zoom" *ngIf="showUser">
      <li class="nav-item">
          <a class="nav-link" routerLink="/container/logreport" style="color: aliceblue;font-size: 20px;">Log Report</a>
      </li>
    </div><br>
    <div class="zoom">
      <li class="nav-item">
          <a class="nav-link" routerLink="/container/snapshot" style="color: aliceblue;font-size: 20px;">Snap Shot</a>
      </li>
    </div><br>
  </ul>
  <p style="color: whitesmoke;text-align: center;margin-top: 40%;">eSentinelv.1.1.0 Build 20201201 Copyright 2021 Echol Tech Pte Ltd. All Right Reserved.</p>
  </div> -->
